Use case
Actors
* Users
Functions
   * Buy cryptos
   * Sell cryptos
   * Check cryptos info
* System
Functions
   * Periodically adjust crypto price
   * Process trades
<!DOCTYPE html>
<html>
<body>


<h2>CryptoExchange</h2>
<p>Please log in with your username and password</p>
<form>
<label for="username">Username:</label><br>
<input type="text" id="username" name="username"><br>
<label for="password">Password:</label><br>
<input type="text" id="password" name="password"><br><br>
<input type="submit" value="Submit">
<input type="reset">
</form>
</body>
</html>
Objects
* Login page


* Server
* Account
* Main page
* TradeSystem


Functional Requirements
* Each current/new user should be able to create one or more accounts, which includes setting up username and password.
* If user forgot password, they can request a change of password