* {
  box-sizing: border-box;
}

body {
  background-color: yellow;
  margin: 0;
}

#app {
  background-color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

li a:active:not(.active) {
  background-color: #333;
}

.active {
  background-color: #4caf50;
}

#LoginRegister {
  float: right;
  background-color: blue;
}

.bodyframe {
  background-color: lightblue;
  margin: 0;
}

h2 {
  text-align: left;
  margin: 0;
  padding: 30px 50px;
  font-weight: 100;
  font-family: SuisseWorks-Bold;
  font-size: 30px;
  line-height: 1.08;
}

.container {
  padding: 10px 50px;
}

footer {
  padding: 10px 50px;
  font-size: 12px;
}
